[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "onedrive --syncdir ~"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Onedrive
Name=Onedrive
Comment[en_US]=
Comment=
