[Desktop Entry]
Type=Application
Exec=xmodmap ~/.Xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Xmodmap
Name=Xmodmap
Comment[en_US]=
Comment=
